<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @questionaire.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @questionaire.title %>
</p>

<%= link_to 'Edit', edit_questionaire_path(@questionaire) %> |
<%= link_to 'Back', questionaires_path %>
